.GetIt{
    overflow: auto;
    width: 77%;
    height: 50% ;
    background-color: whitesmoke;
    color: black;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 3%;
    font-weight: 100;
}
form, label{
    text-align: center;
    display: block;
    margin: 1%;
}

input, textarea{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-bottom: 14px;
    width: 70%;
    height: 20px;
}

textarea{
    height: 80px;
}

.status{
    text-align: center;
    color: rgba(255, 0, 0, 0.568);
    POSITION: CENTER;
    width: 70%;
}

button{
    background: rgb(71, 115, 173);
    border-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 50;
    letter-spacing: 2px;
    height: 50px;
    width: 70%;
    text-transform: uppercase;
}

button:hover{
    background:rgb(70, 182, 202);
}